* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Mulish", sans-serif;
}
